<% if @properties.any? %>
  <ul>
    <% @properties.each do |property| %>
      <li> <%= property.name %> </li>
      <td> <%= image_tag property.image.url %></td>
    <% end %>
  </ul>
<% else %>
  No properties currently available
<% end %>
