<% if @properties.any? %>
  <ul>
    <% @properties.each do |property| %>
      <li> <%= property.name %> </li>
      <% property.pictures.each do |picture| %>
      <td> <%= image_tag picture.image %></td>
      <% end %>
    <% end %>
  </ul>
<% else %>
  No properties currently available
<% end %>
